#wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px auto;
}

body, html {
height: 100%;
}

#text-header{
	text-align: center;
	width: 100%;
	float: top;	
}

#left-half{
	width: 50%;
	/*height: 65%;*/
	float: left;
	text-align: center !important;
}

#right-half{
	width: 50%;
	/*height: 65%;*/
	float: right;
	text-align: center !important;	
}


#bottom-stats-header{
	width: 100%;
	/*height: 5%;*/
	text-align: center;
	float: bottom;	
	display: inline-block;
}

.card .card-content{
	padding: 0px !important;
}

.card-image{
	display: flex;
    align-items: center;
    justify-content: center;
}

img{
	display: block;
	max-width: 500px !important;
	max-height: 500px !important;
	width: auto;
	height: auto;

}

.card-panel{
	padding: 0px !important;
}

h2, h3{
	margin: 0px !important;
}

span .white-text{
	display: inline-block;
	vertical-align: middle;
}

#bottom-stats-left{
	text-align: center;

	width: 50%;
	/*height: 10%;*/
	float: left;	
}

#bottom-stats-right{
	text-align: center;
	width: 50%;
	/*height: 10%;*/
	float: right;	
}

#bottom-pagination{
	width: 100%;
	/*text-align: center:*/
	height: 10%;
	float: bottom;
}

#graph-wrapper{
	text-align: center;
}

/*
Credits to
https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally
*/
.centerFlex {
	position:absolute;
	color:#fff;
	top:50%;
	left:50%;
	padding:15px;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

/*D3 stuff below!*/

.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered;
}

.d3-tip {
      line-height: 1;
      padding: 6px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 4px;
      font-size: 12px;
    }
 
    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }
 
    /* Style northward tooltips specifically */
    .d3-tip.n:after {
      margin: -2px 0 0 0;
      top: 100%;
      left: 0;
    }